.product-description {
  width: vw(292px);

  margin-left: vw(100px);

  &_name {
    font-size: vw(30px);
    font-weight: 600;

    margin-bottom: vw(43px);
  }

  &_option {
    margin-bottom: vw(40px);
  }

  &_option-name {
    font-family: Roboto Condensed;
    font-weight: 700;
    font-size: vw(18px);
    text-transform: uppercase;

    display: inline-block;
    margin-bottom: vw(8px);

    &:after {
      content: ":";
    }
  }

  &_option-list {
    display: flex;

    list-style-type: none;
  }

  &_option-item {
    width: vw(63px);
    height: vw(45px);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: vw(12px);

    font-size: vw(16px);
    font-family: Source Sans Pro;

    border: vw(1px) solid #000;

    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &_active {
      background-color: #000;
      color: #fff;
      border: vw(2px) solid #000;
    }

    &:hover {
      background-color: #000;
      color: #fff;
    }

    &_color {
      &:hover {
        border: vw(2px) solid #000;
      }
    }
  }

  &_price-wrapper {
    margin-bottom: vw(40px);
  }

  &_price {
    display: block;
    font-weight: 700;
    font-size: vw(24px);
  }

  &_btn {
    @include input-reset;
    width: 100%;
    height: vw(52px);

    background-color: $color-green;

    color: #fff;
    font-family: $basic-font;
    font-weight: 600;
    font-size: vw(16px);
    text-transform: uppercase;

    margin-bottom: vw(40px);

    &:hover {
      color: $color-green;
      background-color: #fff;
      border: vw(1px) solid $color-green;
    }
  }

  &_text {
    font-family: Roboto;
    font-size: vw(16px);
  }
}