* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $basic-font;
  margin: 0 auto;
  overflow-y:scroll;
}

.container {
  width: vw(1206px);
  margin: 0 auto;
  display: flex;
}

.main {
  display: flex;

}

.d-flex {
  display: flex;
}

.font-weight-bold {
  font-weight: 700;
}

