.category {
  display: flex;
  flex-direction: column;

  position: relative;

  &_name {
    text-transform: capitalize;
    font-size: 42px;

    margin-bottom: 103px;
  }
  &_list {
    display: flex;
    flex-wrap: wrap;
  }
}